
.ipynb_checkpoints/D213_Task1-checkpoint.ipynb
.ipynb_checkpoints/D213_Task2-checkpoint.ipynb
.ipynb_checkpoints/teleco_time_series -checkpoint.csv
.ipynb_checkpoints/D213 Churn Data Considerations and Dictionary-checkpoint.pdf
